@media screen and (max-width:1005px){
    .navbar{
        position: relative;
    }
    .menu{
        display: none;
    }
    .logo{
        margin: 0px;
        text-align: center;
    }
    .header{
        padding-top: 50px;
    }
    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p{
        text-align: center;

    }
    .imgheadline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .whats{
        display: none;

    }
    .card{
        width: 100%;
    }
}