@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.navbar{
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;

}


.logo{
    flex:20%;
    text-align: left;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.logo h1 {
    font-family: "Playwrite HR Lijeva";
    color: #180f4a;
    font-size: 34px;

}


.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}
.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color:#ff2978;
    border-top:4px solid #180f4a ;
}


#botao{
    background-color: #180f4a;
    padding: 10px 25px;
    color:white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background-color: #ff2978;
}



.header{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
  
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
    
}

.headline p {
    color: gray;
    text-align: left;
}



.contact-btn{
    display: inline-block;
    background-color: #ff2978;
    padding: 20px;
    color:white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}
.contact-btn:hover{
    background-color: #180f4a;
}



.imgheadline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}


section{
    display: inline-block;
    margin-top: 80px;
    margin-left:5%;
    margin-right:5%;
    padding: 5%; 
    text-align: center;
}
section h2{
    padding-bottom: 20px;
    height: 100%;
    font-size: 50px;
    margin: 0%;
    font-family: "Playwrite HR Lijeva";
    font-weight: bold;
    color: #180f4a;

}
.servicos{
    display: inline-block;
    margin: 5%;
}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;

}
.texto-oculto{
    display: none;
}


.card:hover{
    background-color: #ff2978;
    color: white;
    padding: 55px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}


footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,#180f4a,#090422,black);
    text-align: center;
    border-top: 5px solid #ff2978;
}

.logo-rodape{
    padding: 100px;
}
.agencia{
    font-family: "Playwrite HR Lijeva";
    color: white;
    font-size: 34px;

}

.whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

